.modal-add-todo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 3px solid #ff6a67;
  width: 400px;
  h3 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
    color: #ff6a67;
  }
  div {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
    label {
      flex-basis: 30%;
      font-weight: 300px;
      font-size: 1rem;
    }
    input,
    textarea {
      flex-basis: 70%;
      border: none;
      padding: 10px 8px;
      border-bottom: 1px solid #ff6a67;
      background-color: rgb(248, 248, 248);
      outline: none;
      font-size: 1rem;
    }
    textarea{
      height: 150px;
    }
  }
  button {
    background-color: #fff;
    outline: none;
    border: none;
    background-image: linear-gradient(90deg, #eec0c6 0%, #e58c8a 30%);
    color: #FFF;
    padding: 10px 0;

    &:hover{
      background-color: #eec0c6;
    }
  }
}
